/* Styling the slider track */
.track {
     -fx-background-color: gold;
}

/* Styling the slider thumb */
.thumb {
     -fx-background-color: gold;
}

/* Styling the animated thumb */
.animated-thumb {
     -fx-background-color: gold;
}

/* Styling the slider value text inside animated thumb */
.slider-value {
     -fx-fill: gray;
     -fx-stroke: gray;
}